:host{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    width: 100%;
    height: 4.5rem;
}

nav p{
    font-size: 1.3rem;
    cursor: pointer;
    transition: font-size 0.2s;
}

nav img{
    border-radius: 100px;
    cursor: pointer;
}

li{
  display: flex; 
  justify-content: center;
  align-items: center; 
}

nav p:hover{
    font-size: 1.4rem;;
}

@media screen and (max-width: 720px) {
    nav p{
        font-size: 1.0rem;
    }

}