<div class="contact">
    <span id="contact-date-creation">Created: 12/01/2025 12:25</span>
    <div class="contact-main">
      <img
        width="50px"
        height="50px"
        src="https://img.freepik.com/free-photo/androgynous-avatar-non-binary-queer-person_23-2151100270.jpg"
        alt=""
      />
        <span id="contact-main-name">Ivailo Petkov</span>
    </div>
    <div id="contact-labels">
        <div class="label">
           family
        </div>
        <div class="label">
            family
         </div>
         <div class="label">
            Neighbor
         </div>
         <span>+4</span>
    </div>
  </div>