<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <div id="upload-details">
    <h2 style="text-align: center">Upload</h2>
    <div id="upload-main">
      <div id="upload-details-labels">
        <h2 style="text-align: center">Add labels</h2>
        <input placeholder="Enter label" type="text" />
        <div id="color-box">
          <div id="color-red" data-color="red"></div>
          <div id="color-gold" data-color="rgb(255, 215, 0)"></div>
          <div id="color-blue" data-color="rgb(45, 45, 219)"></div>
          <div id="color-purple" data-color="rgb(128, 0, 128)"></div>
          <div id="color-green" data-color="rgb(173, 255, 47)"></div>
          <div id="color-silver" data-color="rgb(192, 192, 192)"></div>
          <div id="color-orange" data-color="rgb(255, 165, 0)"></div>
          <div id="color-yellow" data-color="rgb(255, 255, 0)"></div>
          <div id="color-pink" data-color="rgb(255, 192, 203)"></div>
        </div>
        <button type="button">Add label</button>
        <div id="upload-details-labels-box">
        </div>
      </div>
      <div id="upload-details-main">
        <label for="upld-name">First name: </label>
        <input
          id="upld-name"
          placeholder="Enter first name"
          type="text"
          formControlName="firstName"
          [ngClass]="{
            'error-border':
              updateForm.get('firstName')?.invalid &&
              updateForm.get('firstName')?.touched
          }"
        />

        <div
          class="error-text"
          *ngIf="
            updateForm.get('firstName')?.hasError('required') &&
            updateForm.get('firstName')?.touched
          "
        >
          First name is required.
        </div>

        <div
          class="error-text"
          *ngIf="
            (updateForm.get('firstName')?.hasError('minlength') ||
              updateForm.get('firstName')?.hasError('maxlength')) &&
            updateForm.get('firstName')?.touched
          "
        >
          First name must be between 3 and 10 characters.
        </div>

        <label for="upld-fam-name">Family name:</label>
        <input
          id="upld-fam-name"
          placeholder="Enter family name"
          type="text"
          formControlName="familyName"
          [ngClass]="{
            'error-border':
              updateForm.get('familyName')?.invalid &&
              updateForm.get('familyName')?.touched
          }"
        />
        <div
          class="error-text"
          *ngIf="
            updateForm.get('familyName')?.hasError('required') &&
            updateForm.get('familyName')?.touched
          "
        >
          Family name is required.
        </div>

        <div
          class="error-text"
          *ngIf="
            (updateForm.get('familyName')?.hasError('minlength') ||
              updateForm.get('familyName')?.hasError('maxlength')) &&
            updateForm.get('familyName')?.touched
          "
        >
          Family name must be between 3 and 10 characters.
        </div>

        <label for="upld-firm">Firm name:</label>
        <input
          id="upld-firm"
          placeholder="Enter firm name"
          type="text"
          formControlName="firmName"
          [ngClass]="{
            'error-border':
              updateForm.get('firmName')?.invalid &&
              updateForm.get('firmName')?.touched
          }"
        />

        <div
          class="error-text"
          *ngIf="
            updateForm.get('firmName')?.hasError('required') &&
            updateForm.get('firmName')?.touched
          "
        >
          Firm name is required.
        </div>

        <div
          class="error-text"
          *ngIf="
            (updateForm.get('firmName')?.hasError('minlength') ||
              updateForm.get('firmName')?.hasError('maxlength')) &&
            updateForm.get('firmName')?.touched
          "
        >
          Firm name must be between 3 and 100 characters.
        </div>

        <label for="upld-address">Address:</label>
        <input
          id="upld-address"
          placeholder="Enter address number"
          type="text"
          formControlName="address"
          [ngClass]="{
            'error-border':
              updateForm.get('address')?.invalid &&
              updateForm.get('address')?.touched
          }"
        />

        <div
          class="error-text"
          *ngIf="
            updateForm.get('address')?.hasError('required') &&
            updateForm.get('address')?.touched
          "
        >
          Address is required.
        </div>

        <div
          class="error-text"
          *ngIf="
            (updateForm.get('address')?.hasError('minlength') ||
              updateForm.get('address')?.hasError('maxlength')) &&
            updateForm.get('address')?.touched
          "
        >
          Address must be between 5 and 100 characters.
        </div>

        <label for="upld-phone">Phone number:</label>
        <input
          id="upld-phone"
          placeholder="Enter phone number"
          type="text"
          formControlName="phoneNumber"
          [ngClass]="{
            'error-border':
              updateForm.get('phoneNumber')?.invalid &&
              updateForm.get('phoneNumber')?.touched
          }"
        />

        <div
          class="error-text"
          *ngIf="
            updateForm.errors?.['phoneNumber'] &&
            updateForm.get('phoneNumber')?.touched
          "
        >
          Phone is invalid and is required..
        </div>

        <label for="upld-email">Email:</label>
        <input
          id="upld-email"
          placeholder="Enter email"
          type="text"
          formControlName="email"
          [ngClass]="{
            'error-border':
              updateForm.get('email')?.invalid &&
              updateForm.get('email')?.touched
          }"
        />

        <div
          class="error-text"
          *ngIf="
            updateForm.get('email')?.hasError('required') &&
            updateForm.get('email')?.touched
          "
        >
          Email is required.
        </div>

        <div
          class="error-text"
          *ngIf="
            updateForm.get('email')?.hasError('email') &&
            updateForm.get('email')?.touched
          "
        >
          Email is invalid.
        </div>

        <label for="upld-fax">Fax number:</label>
        <input
          id="upld-fax"
          placeholder="Enter fax number"
          type="text"
          formControlName="faxNumber"
          [ngClass]="{
            'error-border':
              updateForm.get('faxNumber')?.invalid &&
              updateForm.get('faxNumber')?.touched
          }"
        />

        <div
          class="error-text"
          *ngIf="
            updateForm.get('faxNumber')?.hasError('required') &&
            updateForm.get('faxNumber')?.touched
          "
        >
        Fax is required.
        </div>

        <div
          class="error-text"
          *ngIf="
            (updateForm.get('faxNumber')?.hasError('minlength') ||
              updateForm.get('faxNumber')?.hasError('maxlength')) &&
            updateForm.get('faxNumber')?.touched
          "
        >
          Fax must be between 5 and 15 characters.
        </div>

        <label for="upld-comment">Comment:</label>
        <input
          id="upld-comment"
          placeholder="Enter comment"
          type="text"
          formControlName="comment"
          [ngClass]="{
            'error-border':
              updateForm.get('comment')?.invalid &&
              updateForm.get('comment')?.touched
          }"
        />

        <div
          class="error-text"
          *ngIf="
            (updateForm.get('comment')?.hasError('minlength') ||
              updateForm.get('comment')?.hasError('maxlength')) &&
            updateForm.get('comment')?.touched
          "
        >
          Comment must not be above 500 characters.
        </div>

        <label id="label-pic" for="file">Upload picture here</label>
        <input id="file" type="file" />
        <button type="submit" [disabled]="updateForm.invalid" [ngStyle]="updateForm.invalid === true ? { 'background-color': 'gray', cursor: 'not-allowed' } : {}">Upload</button>
      </div>
      <div id="upload-details-custom-fields">
        <h2 style="text-align: center">Add custom fields</h2>
        <label for="title">Title:</label>
        <input placeholder="Enter title" id="title" type="text" />
        <label for="field-description">Field description:</label>
        <input
          placeholder="Enter description"
          id="field-description"
          type="text"

        />
        <button type="button">Add field</button>
        <div id="upload-details-custom-fields-box">
        </div>
      </div>
    </div>
  </div>
</form>
